[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnVILBilling"]
	path = AnVILBilling
	url = https://github.com/vjcitn/anvilbilling
[submodule "BiocFHIR"]
	path = BiocFHIR
	url = https://github.com/vjcitn/biocfhir
[submodule "BiocHail"]
	path = BiocHail
	url = https://github.com/vjcitn/biochail
[submodule "BiocOncoTK"]
	path = BiocOncoTK
	url = https://github.com/vjcitn/bioconcotk
[submodule "BiocSklearn"]
	path = BiocSklearn
	url = https://github.com/vjcitn/biocsklearn
[submodule "HumanTranscriptomeCompendium"]
	path = HumanTranscriptomeCompendium
	url = https://git.bioconductor.org/packages/HumanTranscriptomeCompendium
[submodule "MLInterfaces"]
	path = MLInterfaces
	url = https://git.bioconductor.org/packages/MLInterfaces
[submodule "ROC"]
	path = ROC
	url = https://git.bioconductor.org/packages/ROC
[submodule "RbcBook1"]
	path = RbcBook1
	url = https://git.bioconductor.org/packages/RbcBook1
[submodule "Rcollectl"]
	path = Rcollectl
	url = https://github.com/vjcitn/rcollectl
[submodule "TFutils"]
	path = TFutils
	url = https://git.bioconductor.org/packages/TFutils
[submodule "affyContam"]
	path = affyContam
	url = https://git.bioconductor.org/packages/affyContam
[submodule "arrayMvout"]
	path = arrayMvout
	url = https://git.bioconductor.org/packages/arrayMvout
[submodule "combinat"]
	path = combinat
	url = https://github.com/cran/combinat
[submodule "erma"]
	path = erma
	url = https://git.bioconductor.org/packages/erma
[submodule "gwascat"]
	path = gwascat
	url = https://git.bioconductor.org/packages/gwascat
[submodule "hmdbQuery"]
	path = hmdbQuery
	url = https://git.bioconductor.org/packages/hmdbQuery
[submodule "ivygapSE"]
	path = ivygapSE
	url = https://git.bioconductor.org/packages/ivygapSE
[submodule "keggorthology"]
	path = keggorthology
	url = https://git.bioconductor.org/packages/keggorthology
[submodule "ldblock"]
	path = ldblock
	url = https://git.bioconductor.org/packages/ldblock
[submodule "ontoProc"]
	path = ontoProc
	url = https://github.com/vjcitn/ontoproc
[submodule "parglms"]
	path = parglms
	url = https://git.bioconductor.org/packages/parglms
[submodule "parody"]
	path = parody
	url = https://git.bioconductor.org/packages/parody
[submodule "pathRender"]
	path = pathRender
	url = https://git.bioconductor.org/packages/pathRender
[submodule "pogos"]
	path = pogos
	url = https://github.com/vjcitn/pogos
[submodule "rhdf5client"]
	path = rhdf5client
	url = https://github.com/vjcitn/rhdf5client
[submodule "scviR"]
	path = scviR
	url = https://github.com/vjcitn/scvir
[submodule "ssrch"]
	path = ssrch
	url = https://git.bioconductor.org/packages/ssrch
[submodule "tenXplore"]
	path = tenXplore
	url = https://git.bioconductor.org/packages/tenXplore
[submodule "vtpnet"]
	path = vtpnet
	url = https://git.bioconductor.org/packages/vtpnet
